<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>组件的简单实例</title>
    <link rel="stylesheet" href="css/demo.css" />
</head>

<body>
    <div id="app">
        <div id="searchBar">
            Search <input type="text" v-model="searchQuery" />
        </div>
        <simple-grid :data="gridData" :colnums="gridColnums" :filter-key="searchQuery">

        </simple-grid>
    </div>
    <template id="grid-template">
        <table>
            <thead>
                <tr>
                    <th v-for="col in colnums">
                        {{ col | capitalize }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in data | filterBy filterKey">
                    <td v-for="col in colnums">
                        {{ entry[col] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
</body>
<script src="js/vue.js"></script>
<script>
    Vue.component('simple-grid', {
        template: '#grid-template',
        props: {
            data: Array,
            colnums: Array,
            filterKey: String
        }
    })

    var demo = new Vue({
        el: "#app",
        data: {
            searchQuery: "",
            gridColnums: ['name', 'age', 'sex'],
            gridData: [{
                name: 'Jack',
                age: 27,
                sex: 'Female'
            }, {
                name: 'Bill',
                age: 24,
                sex: 'Male'
            }, {
                name: 'Tracy',
                age: 32,
                sex: 'Female'
            }, {
                name: 'Chris',
                age: 28,
                sex: 'Male'
            }]
        }
    })
</script>

</html>