<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>v-for</title>
		<link rel="stylesheet" href="css/demo.css" />
	</head>

	<body>
		<div id="app">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Age</th>
						<th>Sex</th>
					</tr>
				</thead>
				<tbody>
                    <!-- 
                        v-for 指令基于一个数组渲染一个列表，它和 JavaScript 的遍历语法相似：
                        v-for="person in people"
                        people 是一个数组，person 是当前被遍历的数组元素。
                     -->
					<tr v-for="person in people">
						<td>{{ person.name  }}</td>
						<td>{{ person.age  }}</td>
						<td>{{ person.sex  }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				people: [{
					name: 'Jack',
					age: 22,
					sex: 'Female'
				}, {
					name: 'Bill',
					age: 32,
					sex: 'Male'
				}, {
					name: 'Tracy',
					age: 26,
					sex: 'Female'
				}, {
					name: 'Chris',
					age: 35,
					sex: 'Male'
				}]
			}
		})
	</script>

</html>