<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>step05-修改数据新建功能</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        /*
		* 由于IE不支持<template>标签，所以template标签中的内容在IE下会直接显示出来。
		* 将模板设为隐藏即可解决这个问题，template标签各浏览器支持请参考：http://caniuse.com/#feat=template
		*/
        #grid-template,
        #dialog-template{
			display: none;
		}
	</style>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="form-group">
                <label>Search</label>
                <input type="text" class="search-input" v-model="searchQuery">
            </div>
        </div>

        <div class="container">
            <simple-grid :data-list="people" :columns="columns" :search-key="searchQuery">

            </simple-grid>
        </div>
    </div>

    <template id="grid-template">
        <table>
            <thead>
                <tr>
                    <th v-for="col in columns">
                        {{ col.name | capitalize}}
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(index, entry) in dataList | filterBy searchKey">
                    <!-- 遍历列表 columns -->
                    <td v-for="col in columns">
                        <!-- 使用 v-if 指令判断当前列是否为主键列，如果是主键列，则给主键列添加链接，绑定 click 事件，click 事件用于打开修改数据的对话框。 -->
                        <span v-if="col.isKey">
                            <a href="javascript:void(0)" @click="openEditItemDialog(entry[col.name])">
                                {{ entry[col.name] }}
                            </a>
                        </span>
                        <span v-else>
                            {{ entry[col.name] }}
                        </span>
                    </td>
                    <!-- 删除按钮 -->
                    <td class="text-center">
                        <button class="btn-danger" @click="deleteItem(entry)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- 新建按钮 -->
        <div class="container">
            <button @click="openNewItemDialog('Create New Item')">Create</button>
        </div>

        <!-- modal-dialog 组件 -->
        <modal-dialog :mode="mode" :title="title" :item="item" :fields="columns" v-on:create-item="createItem"
            v-on:update-item="updateItem">
        </modal-dialog>
    </template>

    <template id="dialog-template">
        <div class="dialogs">
            <div class="dialog" v-bind:class="{ 'dialog-active': show }">
                <div class="dialog-content">
                    <!-- 对话框顶部标题 -->
                    <header class="dialog-header">
                        <h1 class="dialog-title">{{ title }}</h1>
                    </header>
                    <!-- 对话框实体内容 -->
                    <div class="dialog-body">
                        <div v-for="field in fields" class="form-group">
                            <label for="">{{ field.name }}</label>
                            <!-- 修改模式下，如果当前字段是主键字段，则禁止修改。 -->
                            <select v-if="field.dataSource" v-model="item[field.name]" :disabled="mode === 2 && field.isKey">
                                <option v-for="opt in field.dataSource" :value="opt">{{ opt }}</option>
                            </select>
                            <!-- 修改模式下，如果当前字段是主键字段，则禁止修改。 -->
                            <input v-else type="text" v-model="item[field.name]" :disabled="mode === 2 && field.isKey">
                        </div>
                    </div>
                    <!-- 对话框底部按钮 -->
                    <footer class="dialog-footer">
                        <div class="form-group">
                            <label></label>
                            <button class="btn-save" v-on:click="save">Save</button>
                            <button class="btn-close" v-on:click="close">Close</button>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="dialog-overlay"></div>
        </div>
    </template>

    <script src="../js/vue1.js"></script>
    <script>
        Vue.component('simple-grid', {
            template: "#grid-template",
            props: ['dataList', 'columns', 'searchKey'],
            data: function () {
                return {
                    mode: 0,
                    title: '',
                    keyColumn: '',
                    item: {}
                }
            },
            ready: function () {
                for (var i = 0; i < this.columns.length; i++) {
                    if (this.columns[i].isKey) {
                        this.keyColumn = this.columns[i]['name']
                        break;
                    }
                }
            },
            methods: {
                // 新建方法
                openNewItemDialog: function (title) {
                    // 对话框的标题
                    this.title = title
                    // mode = 1 表示新建模式
                    this.mode = 1
                    // 初始化 this.item
                    this.item = {}
                    // 广播事件，showDialog 是 modal-dialog 组件的一个方法，传入参数 true 表示显示对话框
                    this.$broadcast('showDialog', true)
                },
                openEditItemDialog: function (key) {
                    // 根据主键查找当前修改的数据
                    var currentItem = this.findItemByKey(key)
                    // 对话框标题
                    this.title = 'Edit Item - ' + key
                    // mode = 2 表示修改模式
                    this.mode = 2
                    // 初始化 this.item
                    this.item = {}
                    // 将选中的数据拷贝到 this.item
                    this.item = this.initItemForUpdate(currentItem)
                    // 广播事件，传入参数 true 表示显示对话框
                    this.$broadcast('showDialog', true)
                },
                // 弹出修改数据的对话框时，使用对象的深拷贝
                initItemForUpdate: function (p) {
                    var c = c || {};
                    for (var i in p) {
                        // 属性 i 是否为 p 对象的自由属性
                        if (p.hasOwnProperty(i)) {
                            if (typeof p[i] === 'object') {
                                c[i] = Array.isArray(p[i]) ? [] : {}
                                deepCopy(p[i], c[i])
                            } else {
                                // 属性是基础类型时，直接拷贝
                                c[i] = p[i]
                            }
                        }
                    }
                    return c;
                },
                findItemByKey: function (key) {
                    var keyColumn = this.keyColumn
                    for (var i = 0; i < this.dataList.length; i++) {
                        if (this.dataList[i][keyColumn] === key) {
                            return this.dataList[i]
                        }
                    }
                },
                // 判断主键列数据是否已经存在
                itemExists: function () {
                    var keyColumn = this.keyColumn
                    for (var i = 0; i < this.dataList.length; i++) {
                        if (this.item[keyColumn] === this.dataList[i][keyColumn])
                            return true;
                    }
                    return false;
                },
                createItem: function () {
                    var keyColumn = this.keyColumn
                    // 判断主键列数据是否已经存在，不存在则新建数据
                    if (!this.itemExists()) {
                        // 将 Item 追加到 dataList
                        this.dataList.push(this.item)
                        // 广播事件，传入参数 false 表示隐藏对话框
                        this.$broadcast('showDialog', false)
                        // 新建完数据后，重置 item 对象
                        this.item = {}
                    } else {
                        alert(keyColumn + ' "' + this.item[keyColumn] + '" is already exists.')
                    }
                },
                // 保存修改的数据
                updateItem: function () {
                    // 获取主键列
                    var keyColumn = this.keyColumn
                    for (var i = 0; i < this.dataList.length; i++) {
                        // 根据主键查找要修改的数据，然后将 this.item 数据更新到 this.dataList[i]
                        if (this.dataList[i][keyColumn] === this.item[keyColumn]) {
                            for (var j in this.item) {
                                this.dataList[i][j] = this.item[j]
                            }
                            break;
                        }
                    }
                    // 广播事件，传入 false 表示隐藏对话框
                    this.$broadcast('showDialog', false)
                    // 修改完数据后，重置 item 对象
                    this.item = {}
                },
                deleteItem: function (entry) {
                    var data = this.dataList
                    data.forEach(function (item, i) {
                        if (item === entry) {
                            data.splice(i, 1)
                            return
                        }
                    })
                },
            },
            components: {
                'modal-dialog': {
                    template: '#dialog-template',
                    data: function () {
                        return {
                            // 对话框默认不显示
                            show: false
                        }
                    },
                    /*
                     * mode = 1 是新增数据模式，mode = 2 是修改数据模式
                     * title 表示对话框的标题内容
                     * fields 表示对话框要显示的数据字段数组
                     * item 是由 simple-dialog 传下来的，用于绑定表单字段的
                     */
                    props: ['mode', 'title', 'fields', 'item'],
                    methods: {
                        close: function () {
                            this.show = false
                        },
                        save: function () {
                            // 新建模式
                            if (this.mode === 1) {
                                // 使用 $dispatch 调用 simple-grid 的 create-item 方法
                                this.$dispatch('create-item')
                            } else if (this.mode === 2) {
                                // 使用 $dispatch 调用 simple-grid 的 update-item 事件
                                this.$dispatch('update-item')
                            }
                        }

                    },
                    events: {
                        // 显示或隐藏对话框
                        'showDialog': function (show) {
                            this.show = show
                        }
                    }
                }
            }
        })

        var demo = new Vue({
            el: '#app',
            data: {
                searchQuery: '',
                columns: [{
                    name: 'name',
                    isKey: true
                }, {
                    name: 'age'
                }, {
                    name: 'sex',
                    dataSource: ['Male', 'Female']
                }],
                people: [{
                        name: 'Jack',
                        age: 25,
                        sex: 'Male'
                    },
                    {
                        name: 'Bill',
                        age: 32,
                        sex: 'Male'
                    },
                    {
                        name: 'Tracy',
                        age: 26,
                        sex: 'Female'
                    },
                    {
                        name: 'Chirs',
                        age: 29,
                        sex: 'Male'
                    }, {
                        name: 'Lee',
                        age: 23,
                        sex: 'Female'
                    },
                ]
            }
        })
    </script>
</body>

</html>